<% if params[:user_id] %>
  <h2>Books for Sale by <%= @user.username %></h2>
<% else %>
  <h2>Books for Sale</h2>
 <% end %>

<div>
  <%= form_tag("/books", method: "get") do %>
    <%= select_tag "genre", options_from_collection_for_select(Genre.all, "id", "name"), { prompt: 'Select Genre' } %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<div class="book-cards">
<% @books.each do |book| %>
<div class="book-card">
  <ul>
    <li>
      <div class="book-title">
      <%= link_to book.title, book_path(book) %> <br>
      <i>by</i> <%= book.author %>
      </div>
      <div class="img">
      <% if book.image.attached? %>
        <%= image_tag url_for(book.image) %> 
      <% end %>
      </div>
      <div class="book-details">
      Condition: <%= book.condition %>
      <br>
      <br>
      Price: $<%= book.price %>
      <br>
      <br>
      Posted: <%= book.created_at.strftime("%b %d, %Y")%>
      </div>
    </li>
  </ul>
</div>
<% end %>
</div>


