<div class="title">
<h2><%= @book.title %></h2>
<i>by</i> <b><%= @book.author %></b>
<br>
</div>
<div class="img">
 <% if @book.image.attached? %>
   <%= image_tag url_for(@book.image) %>
 <% end %>
 </div>
<br>
<br>
<div class="details">
Genre: <%= @book.genre.name if @book.genre %>
<br>
<br>
Condition: <%= @book.condition %>
<br>
<br>
Price: $<%= @book.price %>
<br>
<br>
Posted on: <%= @book.created_at.strftime("%b %d, %Y")%>
<br>
<br>
Seller: <%= link_to @book.user.username, user_books_path(@book.user)  %>
<br><br>
</div>

Comments:
  <ul>
  <% @comments.each do |comment| %>
  <li>
    "<%= comment.content %>" - <%= comment.user.username %> (<%= comment.created_at.strftime("%m/%d/%Y") %>)
    <br><br>
   </li>
  <% end %>
  </ul>


<br><br>
<%= form_for @book.comments.build do |f| %>
    <%= f.label :content, "Post a comment: " %>
    <%= f.text_field :content %>
    <%= f.hidden_field :book_id %>
  <%= f.submit "Post" %>
<% end %>
<br>
<br>
<% if current_user == @book.user %>
  <%= link_to "Edit", edit_book_path(@book) %> | <%= link_to "Delete", @book, method: "delete", data: { confirm: "Are you sure?" } %>
<% end %>

