<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
    <% if logged_in? %>
      <%= link_to "List A Book", new_user_book_path(current_user) %> |
      <%= link_to "Books For Sale", books_path %> |
      <%= link_to "My Books", user_books_path(current_user) %> |
      <%= link_to "Profile", user_path(session[:user_id])%> |
      <%= link_to "Logout", logout_path, method: "delete" %>
    <% else %>
      <%= link_to "Login", login_path %> |
      <%= link_to "Sign Up", signup_path %>
    <% end %>
      
  
  
    </div>
    <%= yield %>
  </body>
</html>
